footer{
    background-color: #FDF0E9;
    display: flex;
    height: 70px;
    p{
        margin: -10px 150px;
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        height: 20px;
    }
    a{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: black;
        margin: -10px -480px;
        padding-left: 1000px;
        height: 20px;
        
    }
}